
footer {
	text-align: center;
	background-size: cover;
	margin-top: 70px;
	.wrapper {
		padding: 0 10px;
	}
	.logo {
		position: relative;
		left: auto;
		top: auto;
		margin: 0 auto 20px;
		display: block;
	}
	.footer-contact {
		background: url('../../library/img/gen/bg-footer-contact.jpg') center center no-repeat;
		.footer-contact-box {
			background: rgba(#edb729,.9);
			padding: 5px 30px 15px;
			max-width: 795px;
			margin: 0 auto;
			display: block;
			text-align: center;
			h1 {
				color: white;
				font-family: 'encode-bold';
				text-transform: uppercase;
			}
			.btn {
				font-size: 14px;
				padding: 0 40px;
				color: white;
				display: table;
				width: auto;
				font-family: 'encode-bold';
				&:hover {
					background: white;
					color: #edb729;
				}
			}
		}
		.insta {
			
		}
	}
	.footer-colophon {
		background-color: #2f3032;
		padding: 30px 0;
		color: white;
		h1 {
			margin: 0;
			font-size: 24px;
			line-height: 2;
			text-transform: uppercase;
			font-family: 'encode-bold';
			color: white;
		}
		p {
			color: white;
			font-family: 'encode-light';
			padding: 0 0 40px;
		}
		.menu {
			padding: 0 0 40px;
			li {
				line-height: 2;
				a {
					color: white;
					text-decoration: none;
					font-family: 'encode-light';
				}
			}
		}
		.copyright {
			font-family: 'encode-light';
		}
	}
	.insta {
		position: relative;
		margin: 0 auto 20px;
		display: block;
	}
}
@include bp(eight-column) {
	footer {
		text-align: center;
		background-size: cover;
		.footer-contact {
			background: url('../../library/img/gen/bg-footer-contact-full.jpg') center center no-repeat;
			background-size: cover;
			height: 400px;
			.footer-contact-box {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				padding: 60px;
			}
		}
	}
}

@include bp(twelve-column) {
	footer {
		text-align: left;
		.logo {
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		.footer-contact {
			height: 400px;
			.footer-contact-box {
				display: block;
				max-width: 600px;
			}
		}
		.footer-colophon {
			.address {
				float: left;
			}
			.menu {
				float: right;
			}
			.copyright {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 20px;
				text-align: center;
				margin: 0 auto;
			}
		}
		.insta {
			position: absolute;
			left: 0;
			right: auto;
			bottom: 0;
		}
	}
}

@include bp(sixteen-column) {
	footer {
		.footer-contact {
			height: 600px;
			.footer-contact-box {
				max-width: 795px;
				padding-left: 200px;
				padding-right: 200px;
				h1 {
					font-size: 40px;
				}
			}
		}
		.footer-colophon {
			.address {
				float: left;
			}
			.menu {
				float: right;
			}
			.copyright {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				text-align: center;
				margin: 0 auto;
			}
		}
		.insta {
			position: absolute;
			left: 0;
			right: auto;
			bottom: 0;
		}
	}

}






